<nav class="navbar navbar-inverse navbar-dark role=navigation scrolling-navbar navbar-expand mb-2"
    style="background-color: rgb(32, 87, 109)">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: whitesmoke" href="{% url 'home' %}"> Neighbourhood</a>
        </div>

        <div>
            <button style="background-color: rgb(104, 104, 241)" class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                {% if user.is_authenticated %}
                <div class="navbar-nav mr-auto">
                    <div style="margin-right: 10px;">
                        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                            <input style="height: 32px; text-align: center;" class="form-control " name="search"
                                type="search" placeholder="Search Business..." aria-label="Search">
                        </form>
                    </div>
                    <a style="font-size: 13px; color: whitesmoke" href="{% url 'create-profile' %}">Profile</a>
                    <a style="font-size: 13px; color: whitesmoke" class="ml-4" href="{% url 'logout' %}">LOGOUT</a>
                </div>
                {% else %}
                <div class="navbar-nav mr-auto">
                    <a style="font-size: 13px; color: whitesmoke" href="{% url 'login' %}"><i class="mr-1 fa fa-lock"
                            aria-hidden="true"></i>LOGIN</a>
                    <a style="font-size: 13px; color: whitesmoke" class="ml-4" href="{% url 'register' %}"><i
                            class="mr-1 fa fa-star" aria-hidden="true"></i>REGISTER</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>