{% extends 'base.html'%}
{{ block.super}}
{% load staticfiles
{% block content %}
<h2 style="text-align:center;">Hood Watch</h2>
<hr>
<div class="container-fluid">
  <div class="card-columns">
    {% for hood in hoods%}
    <div class="card border-info">
      <div class="card-body" style="background-color:#eceff1;">
        <h4 id="text" class="card-title">Hood: {{hood.name }}</h4>
        <h6 id="text" class="card-title">Location: {{hood.locality | upper}}</h6>

        <h5 id="text" class="card-title">Occupants: {{hood.occupants_count | upper}}</h5>
        <a href="{% url 'join_hood' hood.id %}" class="btn btn-sm btn-outline-success">Join Hood</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <h4>Don't see your hood? Register it <a style="color:#4fc3f7;" href="{% url 'add_hood' %}">here</a></h4>
</div>


{% endblock %}
