{%extends "registration/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-header" style="background-color: rgb(72, 72, 233);">
                    <p>LOGIN</p>
                </div>
                <div class="logincont">
                    <div class="panel-body">
                        <form action="" method="post" class="ml-4 mr-4 mt-4">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-md btn-block" value="Login">
                            </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <p class="ml-5 mt-3">Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                </p>
            </div>
            <input type="hidden" name="next" value="{{next}}">

            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}