{%extends "registration/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="register">
                <div class="registform">
                    <div class="card">
                        <div class="card-header" style="background-color: rgb(72, 72, 233);">
                            <p>REGISTER NEW ACCOUNT</p>
                        </div>
                        <form action="" method="post" class="ml-3 mr-3 mt-3">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-md btn-block" value="Sign Up">
                            </div>
                    </div>
                    <div class="card mt-3">
                        <p class="ml-5 mt-3">Have an account? <a href="{% url 'login' %}" class="ml-1">
                                Login</a></p>
                    </div>
                    <input type="hidden" name="next" value="{{next}}">

                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<br>
{% endblock %}
